:root {
	--white: #FFFFFF;
	--black: #000000;
	--very-light-pink: #C7C7C7;
	--text-input-field: #F7F7F7;
	--hospital-green: #ACD9B2;
	--xxs: 0.5rem;
	--xs: 1rem;
	--sm: 1.4rem;
	--md: 1.6rem;
	--lg: 1.8rem;
	--xlg: 2rem;
	--max-size: 128.0rem;

}