:root {
	--morning-blue: #7AA095;
	--army-green: #40531b;
	--may-green: #618b4a;
	--liver: #635255;
	
	--misty-rose: #f1dede;
	--black: #000000;

	--twilight-lavender: #754668;
	--steel-teal: #718f94;
	--dark-sea-green: #90b494;

	--lemon-curry: #b7990d;
	--white: #FFFFFF;	

	--slack-pink: #e1185a;
	--slack-blue: #33c6f0;
	--slack-yellow: #edb32a;
	--slack-green: #2ab77e;
	--slack-purple: #3E103F;

	--light-gray: #d3d3d3;

	--xxs: 0.5rem;
	--xs: 1rem;
	--sm: 1.4rem;
	--md: 1.6rem;
	--lg: 1.8rem;
	--xlg: 2rem;
	--max-size: 128.0rem;

	--main-font: system-ui;
}