.CartEmpty{
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 3rem;
    text-align: center;
}
.oops{
    font-weight: bold;
    margin-bottom: 3rem; 
}
.quotes{
    margin-bottom: 1rem;
    font-style: italic;
}
.CartEmpty a{
    font-size: medium;
}
