
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}
html{
    font-size: 62.5%;
}


.hide{
    display: none !important;
}
.show{
    display: inline-block;
}


.view-details-btn{
    width: 100%;
    background-color: black;
    color: white;
    display: inline-block;
    border:2px;
    padding: 1rem 0;    
    text-decoration: none;
}



.see-all{
    cursor: pointer;
    font-weight: 500;
}
.see-all:hover{
    color: gray;
}