.About{
    font-family: var(--main-font);
    max-width: 1280px;
    margin: auto;
    padding-bottom: 3rem;
}
.InfoBlock .banner-cont{
 width: 100%;
 margin-top: 0;
 margin-bottom: 2rem;
 height: 6rem;
}
.InfoBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
}

.DevBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    padding: 2rem 0;
}
.DevBlock 
.About a{
    text-decoration: none;
}
.two-cards{
    display: flex;
    flex-direction: row;
}
.two-cards .InfoBlock{
    width: 50%;
    margin: 2rem;
    padding: 5rem 0;
    padding-top: 0;
}
.main-cont{
    padding: 0 6rem;
}
.ib-title{
    font-weight:400;
    font-size: 3rem;
}
.ib-subtitle{
    font-weight:450;
    font-size: 2rem;
    color: gray;
    margin-bottom: 1rem;
}

// TECHNOLOGIES
.techs-cont{
    background-color: var(--slack-purple);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 1rem;
    margin: 2rem 0;
}
.tech-card{
    //background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.3rem;
    color: white;
    font-weight: lighter;
}
.tech-card img{
    margin-bottom: 0.5rem;
}


.contact{
    cursor: pointer;
}

