@import '_vars';
.Navbar {
    background-color: var(--steel-teal);
}
.main-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--sm);
    max-width: 1280px;
    margin: auto;
}
.activeClass{
    font-weight: bold;
}
.tote-pages, 
.user-pages, 
.sandwich-menu,
.logo{
    width: 33%;
}

.logo{
    //background-color: blue;
    text-align: center;
    font-family: 'Sedgwick Ave', cursive;
}

.tote-pages, .user-pages, .sandwich-menu{
    display: inline-block;
    font-size: var(--sm);
}
.user-pages {
    display: flex;
    justify-content: flex-end;
}

.tote-page, .user-page{
    display: inline-block;
    margin: 0 0.5rem;
    font-size: 1.5em;
}

.tote-page a{
    text-decoration: none;
    color: black;
}

.tote-page a:hover{
    color: gray;
}

.tote-page a:hover{
    text-decoration: underline;
}

.tote-page a:active{
    text-decoration: underline;
}

.logo-link{
    font-size: 1.2em;
    text-decoration: none;  
    color:black;
}

.user-page img{
    margin: 0 var(--xxs);
}
.user-page:hover, .logo:hover{
    cursor: pointer;
}

@media(min-width:300px){
    .tote-pages{
        display: none;
    }
    .user, .whishlist{
        display: none;
    }
    .logo-link{
        font-size: small;
    }
 }

 @media(min-width:800px){
    .tote-pages, .user, .whishlist{
        display: none;
    }
    .user, .whishlist{
        display: inline-block;
    }
    .logo-link{
        font-size: medium;
    }
 }

 @media(min-width:1024px){
    .tote-pages{
        display: inline-block;
    }
    .hide-in-laptop{
        display: none;
    }
    .user, .whishlist{
        display: inline-block;
    }
    .logo-link{
        font-size: large;
    }
 }

 