.main-info h3, .main-info h4 {
 display: inline-block;
}

.category{
    display: inline-block;
    background-color: rgb(156, 95, 213);
    padding: 1rem 1rem;
    border-radius: 25px;
    font-size: small;
}