@import '_vars';
/*
300 120x120
800 230.66x230.66
1024 228x228
*/
.ProductItem{
    display:inline-block;
    width: 12rem;
    text-align: center;
    margin: 1rem 0;
    padding-top: 1rem;
}
.ProductItem:hover{
    cursor: pointer;
}
.selected{
    display: inline-block;
    transform: scale(1.05);
    cursor: pointer;
}
.unselected{
    visibility: hidden;
}
#ver-mas{
    width: 100%;
    background-color: black;
    color: white;
    display: inline-block;
    border:2px;
    padding: 1rem 0;    
    text-decoration: none;
}
.name{
    font-weight: 400;
}
.name, .price{
    font-family: system-ui;
}
.color1{ background-color: pink;}
.color2{background-color: green;}
.color3{background-color: indigo;}
.colors-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.colors-container div{
    border-radius: 50%;
}

@media(min-width:300px){
    .ProductItem{
        padding: 1rem 1rem;
        padding-bottom: 0;
        width: 14rem;
    }
    .ProductItem img{
        width: 12rem;
        height: 17rem;
    }
    .name{
        font-size: small;
        padding: 0.2rem 1rem;
    }
    .price{
        font-size: small;
        padding: 0.5rem 0;
    }
    #ver-mas{
        font-size: small;
    }
    .colors-container div{
        width: 1rem;
        height: 1rem;
        margin: 0.2rem;
    }
 }

 @media(min-width:425px){
    .ProductItem{
        width: 18.28rem;
        padding-top: 1rem;
    }
    .ProductItem img{
        width: 16.28rem;
        height: 23.28rem;
    }
    .colors-container div{
        width: 2rem;
        height: 2rem;
        margin: 0 0.2rem;
    }
 }

 @media(min-width:800px){
    .ProductItem{
        width: 23.066rem;
        padding-top: 1rem;
    }
    .ProductItem img{
        width: 21.065rem;
        height: 29.065rem;
    }
    .colors-container div{
        width: 2rem;
        height: 2rem;
        margin: 0 0.2rem;
    }

 }

 @media(min-width:1024px){
    .ProductItem{
        width: 22.8rem;
        padding: 1.2rem;
        padding-bottom: 0;
    }
    .ProductItem img{
        width: 20.4rem;
        height: 27.4rem;
    }
    .name{
        font-size:medium;
        padding: 0.5rem 1rem;
    }
    .price{
        font-size: small;
        padding: 0.5rem 0;
    }
    .colors-container div{
        width: 2rem;
        height: 2rem;
        margin: 0 0.2rem;
    }
 }


