@import '_vars';

.ProductDetails{
    margin: 1rem;
    max-width: var(--max-size);
    margin: auto;
    padding: var(--sm);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: var(--main-font);
}
.authors p{
    font-style: italic;
}
section{
    margin-bottom: 2rem;
}
section .book-synopsis{
    margin-bottom: 0;
}
.categories{
    margin-top: 1rem;
}
.category{
    display: inline-block;
    background-color: var(--lemon-curry);
    text-decoration: none;
    color: black;
}
.section-title{
    font-weight: bold;
    font-size: large;
}
.book-details-group p, 
.book-sale-group p,
.title, .subtitle{
    display: inline-block;
}
.book-sale-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.book-sale-group, 
.book-details-group,
.book-sale-info {
    margin: .8rem 0;
}
.book-sale-info{
    background-color: var(--lemon-curry);
    color: var(--black);
}
.sale-btn {
    padding: 1rem;
    border-radius: 25px;
    color: var(--black);
    border: 0.2rem solid var(--twilight-lavender);
    margin: 0.2rem 0;
    font-weight: bold;
}
.add-cart{
    background-color: var(--misty-rose);
    color: var(--twilight-lavender);
}
.buy-now{
    background-color: var(--steel-teal);
    color:var(--twilight-lavender);
    margin-bottom: 0.6rem;
    color: white;
}

@media(min-width:300px){
    .category{
        font-size: x-small;
        padding: 1rem 1rem;
        margin: 0.2rem;
        border-radius: 25px;
    }
    p{
        font-size: medium;
    }
    .dets-info{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: auto; /*para que crezca con relacion al contenido*/
    }
    .book-image, .book-details{
        max-width: 50%;
    }
    .book-main-info, .book-sale-info, .book-synopsis{
        width: 100%;
    }
    .dets-info .book-synopsis{
        display: none;
    }
    .book-details{
        padding-left: 3rem;
    }
 }

 @media(min-width:800px){
    p{
        font-size: large;
    }
    .category{
        font-size: small;
    }
    .dets-info{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: auto; /*para que crezca con relacion al contenido*/
    }
    .book-image, .book-details{
        width: 50%;
    }
    .book-main-info, .book-sale-info, .book-synopsis{
        width: 100%;
    }
    .dets-info .book-synopsis{
        display: none;
    }
 }

 @media(min-width:1024px){
    p{
        font-size: large;
    }
    .category{
        font-size: medium;
    }
    .dets-info{
        display: flex;
        flex-wrap: wrap;
        width: 75%;        
    }
    .book-image, .book-details{
        width: 50%;
    }
    .book-synopsis{
        width: 100%;
    }
    .book-sale-info{
       width: 25%;       
   }
   .book-synopsis{
       padding-right: 3rem;
   }
   .ProductDetails .book-synopsis{
       display: none;
   }
   .dets-info .book-synopsis{
       display:inline-block;
   }
 }