@import '_vars';

.SearchContainer{
    background-color: var(--slack-purple);
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    font-family: var(--main-font);
}

.btn-back, .btn-search{
    cursor: pointer;
}

.btn-back{
    margin: 1.5rem;
    background-color: white;
    color: var(--slack-purple);
    font-size: 1.7rem;
    border: 1px solid var(--white);
    border-radius: 2.5rem;
    padding: 1rem 2rem;
}

.btn-back:hover{
    background-color: var(--slack-purple);
    color: var(--white);
    border: 1px solid var(--white)

}

.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 12%;
    height: 4rem;
}

.search-bar input{
    border-radius:25px 0 0 25px ;
    padding-left: 2rem;
    border: 1px solid var(--white
    );
}

.btn-search{
    background-color: var(--slack-yellow);
    color: var(--slack-purple);
    border-radius:0 25px  25px 0;
    border: 1px solid var(--slack-yellow);
    padding: 1rem 2rem;


}