@import '_vars';
.SideNavbar{
    background-color: var(--slack-purple);
    width: 100vw;
    height: 100vh;
    font-family: var(--main-font);
    padding: var(--sm);

    display: flex;
    flex-direction: row;
}
.sandwich-menu-open{
    display: flex;
    flex-direction: column;
}

.tote-pages-side li{
    margin: 1rem 0;
    display: block;
}
.sandwich-menu-open{
    width: 50%;
}
.image-container{
    width: 50%;
    background-image: url('../assets/images/otra.jpg');
    background-size: cover;
}
.image{
    width: 100%;
    height: 100%;
    background-color: #3e103fdd;
}
@media(min-width:800px){
    .favs{
        display: none !important;
    }
 }